@if(auth.isLoggedIn)

<div class="nav-item dropdown">
  <a
    class="nav-link dropdown-toggle"
    href="#"
    id="navbarDropdownMenuLink"
    role="button"
    data-bs-toggle="dropdown"
    aria-expanded="false"
  >
    Rifas
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
    <li><a class="dropdown-item" href="#">Lista de rifas</a></li>
    <li><a class="dropdown-item" href="#">Nova Rifa</a></li>
    <li><a class="dropdown-item" href="#">Nao Dinido</a></li>
  </ul>
</div>
@endif
