@layout('layout/app')
@section('content')
  
<div class="show-status">

     <a>Quantidade de bilhetes comprados: {{qtdBilheteComprado}}</a>
     <h2>Valor Investido: R${{valorInvestido}} </h2>
     <h2> <a href="{{ route('rifas.show', { rifa_id: id }) }}" class ="btn btn-primary"> Comprar mais rifas </a>

    
  </div>
  <a href="{{  route('usuario.status' )}}" class = "mika  btn btn-danger btn-space">Voltar</a>
@endsection