@layout('layout/app')

@section('content')
  <h1></h1>
  <ul>
    <p>Quantidade de bilhetes comprados: {{cont}}</p>

    <p>Valor Investido:</p>

    <p>Comprar Mais:</p>

    @each(rifa in rifas)
    <li>
      
    </li>
  @endeach
  </ul>
@endsection