@layout('layout/app')

@section('content')

  <body class="body-home">
      <div class="link-home">
            <a class="text-home"  href="{{ route('rifas.show',{ rifa_id: 1 })}}" >VENHA CONFERIR</a>
      </div>      
  </body>
 
@endsection
