@import '~bootstrap/scss/bootstrap';


.page-body {
  margin-top: 20px;
}

body {
  background-color: dimgrey;
  
}

p{
  color: aliceblue;
}

.btn-space {
  margin-left: 8px;
}

.body-home {
  background-image: url(../image/Tiger800.jpg);
  
}