@layout('layout/app')
@section('content')
  <h1></h1>
  <ul>
    @each(rifa in rifas)
      <li>
      <a href="{{ route('rifas.show', { id: rifa.id }) }}">
        <p>{{ rifa.titulo }}</p>
        

      </li>
    @endeach
  </ul>
@endsection